@use "../base/screen";

.feedback {
  gap: var(--gap-s);
  padding: var(--pad-l) var(--pad-xxl);
}
.feedback img {
  width: 100px;
  height: 100px;
  border-radius: 5000px;
}

.feedback hr {
  width: 100%;
}

.feedback__p {
  font-style: italic;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: ce nter;
  gap: var(--gap-s);
  align-items: center;
}

.stars img {
  width: var(--stars);
  height: var(--stars);
}

.feedback__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback h3 {
  margin: 0;
}

@include screen.s {
  .feedback {
    width: 80%;
  }
}
