@use "../base/screen";

.type-cours {
  gap: var(--gap-s);
  padding: var(--pad-l) var(--pad-xxl);
}

.type-cours h3 {
  margin-bottom: 0;
}

.type-cours hr {
  width: 100%;
}

.type-cours img {
  height: 100px;
  width: 100px;
}

.type-cours__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-cours .format li {
  line-height: 1.4lh;
  list-style-type: none;
}

@include screen.s {
  .type-cours {
    width: 100%;
    padding: var(--pad-s) var(--pad-s);
  }
}
